form{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
mat-form-field {
    width: 100%;
    /* padding: 16px; */
    /* width: 300px; */
    /* min-width: 50px; */
}

 mat-card {
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    /* padding: 5%; */
    /* margin: auto; */
    /* margin-top: 10%; */
    background-color: rgba(32, 22, 165, 0.1);
}

/* mat-card-title, */
mat-card-content {
    margin-top: 3%;
    /* display: flex; */
    /* justify-content: center; */
}

.row-content{
    margin-top: 10px;
}
