.flag-image {
    margin: 3%;
    width: 50px;
    /* Adjust width as needed */
    height: auto;
    /* Maintain aspect ratio */
}

.search-label {
    display: flex;
    align-items: center;
}

mat-form-field {
    width: 30%;
}

.search-icon {
    font-size: 24px;
    /* Adjust the size as needed */
    margin-left: 8px;
    /* Adjust the space between text and icon if necessary */
}