<div class="h-100 login-body ">
    <mat-toolbar color="primary">
        <mat-toolbar-row class="d-flex justify-content-between ">
            <div>
                <span>User Data Manager</span>

            </div>

            <div class="register-button">
                <!-- Add a button to navigate to the registration page -->
                <button mat-raised-button color="primary" (click)="Register()">Register</button>
            </div>
        </mat-toolbar-row>

    </mat-toolbar>
    <div class="d-flex justify-content-center">
        <div class="split-container">
            <div class="image-container d-none d-sm-block">
                <img src="../../../../assets/loginSvg.svg" alt="Login SVG" />
            </div>
            <div class="form-container">
                <mat-card class="login-card">
                    <mat-card-title>Login</mat-card-title>
                    <mat-card-content>
                        <form [formGroup]="LoginForm" (ngSubmit)="submit()">
                            <div class="form-content">
                                <mat-form-field>
                                    <mat-label>Username/Email</mat-label>
                                    <input type="text" matInput formControlName="LoginIdentifier"
                                        [errorStateMatcher]="matcher" appTrim>
                                    <mat-error *ngIf="LoginForm.get('LoginIdentifier')?.hasError('required')">
                                        Username/Email field is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="LoginForm.controls['LoginIdentifier'].hasError('whitespace')">
                                        No whitespace allowed
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-label>Password</mat-label>
                                    <input [type]="passwordFieldType" matInput formControlName="Password"
                                        [errorStateMatcher]="matcher" appTrim>
                                    <!-- Toggle button to show/hide password -->
                                    <button mat-icon-button matSuffix aria-label="Toggle password visibility"
                                        (click)="togglePasswordVisibility()" type="button">
                                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                                    </button>
                                    <mat-error
                                        *ngIf="LoginForm.get('Password')?.hasError('pattern') && !LoginForm.get('Password')?.hasError('required')">
                                        Password must have a minimum of 6 characters
                                    </mat-error>
                                    <mat-error *ngIf="LoginForm.get('Password')?.hasError('required')">
                                        Password is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                                <span><a class="float-end text-black text-decoration-none "
                                        href="/user-data/forget-password">Forget Password?</a></span>

                                <p *ngIf="error" class="error">
                                    {{ message }}
                                </p>

                                <div class="button">
                                    <button type="submit" mat-raised-button color="primary"
                                        class="loginBtn">Login</button>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </div>
</div>